<h1>Flatiron</h1>
<h2>Team Name: <%= @team.name %></h2>
<h2>Team Motto: <%= @team.motto %></h2>
<br>
<h2>Hero Name: <%=@hero1.name%></h2>
<P>Hero Power: <%=@hero1.power %></p>
<P>Hero Biography: <%=@hero1.bio %></p>
<br>
<h2>Hero Name: <%=@hero2.name%></h2>
<P>Hero Power: <%=@hero2.power %></p>
<P>Hero Biography: <%=@hero2.bio %></p>
<br>
<h2>Hero Name: <%=@hero3.name%></h2>
<P>Hero Power: <%=@hero3.power %></p>
<P>Hero Biography: <%=@hero3.bio %></p>
<br>